.btn-morado {
    background-color: blueviolet;
    color: aliceblue;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 1)
}

.btn-morado:hover {
    background-color: purple;
    color: aliceblue;
}

#btnTop {
    position: fixed;
    right: 16px;
    bottom: 16px;
    padding: 5px 14px;
    border-radius: 5px;
}





















@media (min-width: 576px) { /* tablet chico */}
@media (min-width: 992px) { /* desktop */}